@model IEnumerable<MVCViews.Models.CourseViewModels>

@{
    ViewBag.Title = "Index";
}

<h2>课程专区</h2>

<p>
    @Html.ActionLink("申请添加新课程", "ApplyForAddCourse") |
    @Html.ActionLink("我的申请", "IndexOfApply")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.University)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.University)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desp)
        </td>
        <td>
            <img class="lazy" rel="popover" src="http://localhost:8090/Course_Url/@item.PicUrl" width="60" height="40"/>
        </td>
        <td>
            @Html.ActionLink("详细", "Details", new { code = item.Code }) 
        </td>
    </tr>
}

</table>
