@model IEnumerable<MVCViews.Models.CourseViewModels>

@{
    ViewBag.Title = "Index";
}

<h2>课程专区</h2>

<p>
    @Html.ActionLink("申请添加新课程", "ApplyForAddCourse") |
    @Html.ActionLink("我的申请", "IndexOfApply")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.University)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.University)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PicUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
