@model MVCViews.Models.GoodsInfoView

@{
    ViewBag.Title = "Details";
}

<h2>物品详细信息</h2>

<div>
    <h4>详细信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Money)
        </dt>

        <dd>
            ￥ @Html.DisplayFor(model => model.Money)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PicUrl)
        </dt>

        <dd>
            <img src="http://localhost:8090/ImageUrl/@Model.PicUrl" width="80" height="100" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDate)
        </dd>

        <dd>
            <input type="button" value="我想要" class="btn btn-danger" onclick="Redirect('/Market/Buy?id=@Model.Id')" />
            <input type="button" value="返回上一页" class="btn" onclick="Back()"/>
        </dd>

    </dl>
</div>

<hr />

<div>
    <h3>用户留言:</h3>
    <table class="table">
        @foreach (var msg in ViewBag.LeaveMsgs)
        {
            <tr>
                <td>#@msg.Floor</td>
                <td>@msg.Email @if (msg.Email.Equals(Model.Seller)) { <font color="lightpink">卖家</font> }</td>
                <td>@msg.PubDate</td>
                <td>@msg.Content</td>
                @if(msg.Email.Equals(Request.Cookies.Get("ApplicationCookie")?.Value))
                {
                    <td>
                        <input type="button" value="撤销" class="btn btn-danger" onclick="DropMsg(@msg.Id)" />
                    </td>
                }
            </tr>
        }
    </table>
</div>
<hr />
<p>
    <textarea placeholder="输入内容..." class="form-control" id="user_edit"></textarea>
    <input type="button" value="添加留言" class="btn btn-warning" onclick="SendMsg(@Model.Id)" />
    <input type="button" value="返回主页" class="btn" onclick="Redirect('/Forum/Index')" />
    <label hidden="hidden" id="id">@Model.Id</label>
</p>


<script>
    function SendMsg() {
        var params = {
            id: $("#id").text(),
            content: $("#user_edit").val(),
        }

        $.ajax({
            url: "/Market/SendMsg",
            type: "post",
            dataType: "json",
            data: params,
        }).done(function (json) {
            alert(json.Msg);
            if (json.Status == 0) {
                location.reload();
            } else if (json.Status == 1) {
                window.location.href = "/Account/Login";
            }
        })
    }

    function DropMsg(id) {
        var params = { id: id, }

        $.ajax({
            url: "/Market/DropMsg",
            type: "post",
            dataType: "json",
            data: params,
        }).done(function (json) {
            alert(json.Msg);
            if (json.Status == 0) {
                location.reload();
            } else if (json.Status == 1) {
                window.location.href = "/Account/Login";
            }
        })
    }

    function Back() {
        window.history.back(-1);
    }

    function Redirect(url) {
        window.location.href = url;
    }
</script>