@model IEnumerable<MVCViews.Models.GoodsInfoView>

@{
    ViewBag.Title = "MyPayList";
}

<h2>我的购物记录</h2>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Seller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Seller)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Money)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PicUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>

        <td>
            @Html.ActionLink("详细", "Details", new { id=item.Id }) |
            @Html.ActionLink("删除记录", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<hr />

<div>
    <input type="button" value="返回主页" class="btn" onclick="Redirect('/Market/MyCenter')"/>
</div>

<script>
    function Redirect(url) {
        window.location.href = url;
    }
</script>

