@model Admin.AccountService.ForgotPasswordView

@{
    ViewBag.Title = "ForgotPasswordDetails";
}

<h2>找回密码审核</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            注册邮箱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
            @if(Model.Email.Equals(ViewBag.User.Email))
            {
                <font color="green">通过</font>
            }
            else
            {
                <font color="red">未通过</font>
            }
        </dd>

        <dt>
            用户名
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
            @if (Model.UserName.Equals(ViewBag.User.UserName))
            {
                <font color="green">通过</font>
            }
            else
            {
                <font color="red">未通过</font>
            }
        </dd>

        <dt>
            用户昵称
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nick)
            @if (Model.Nick.Equals(ViewBag.User.Nick))
            {
                <font color="green">通过</font>
            }
            else
            {
                <font color="red">未通过</font>
            }
        </dd>

        <dt>
            用户性别
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
            @if (Model.Sex.Equals(ViewBag.User.Sex))
            {
                <font color="green">通过</font>
            }
            else
            {
                <font color="red">未通过</font>
            }
        </dd>

        <dt>
            联系方式
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
            @if (Model.Tel.Equals(ViewBag.User.Tel))
            {
                <font color="green">通过</font>
            }
            else
            {
                <font color="red">未通过</font>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("审核通过", "ForgotPass", new { id = Model.Id }) |
    @Html.ActionLink("不通过", "ForgotFailed", new { id = Model.Id }) |
    @Html.ActionLink("返回上一页", "ForgotPasswordList")
</p>
