@model MVCViews.Models.PostViewModel

@{
    ViewBag.Title = "PostDetails";
}

<h2>帖子详情</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Poster)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poster)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
    </dl>
</div>

<hr />
<table class="table">
    @foreach (var item in ViewBag.ReplyList)
    {
        <tr>
            <td>@item.Responser</td>
            <td>@item.ResponseDate</td>
            <td>@item.Content</td>
            <td>
                <input type="button" value="回复" class="btn btn-primary" onclick="ResponseReply(@item.Id)"/>
                @{ 
                    if(item.Responser.Equals(Request.Cookies.Get("ApplicationCookie").Value))
                    {
                        <input type="button" value="删除" class="btn btn-danger" onclick="RemoveResponseReply(@item.Id)"/>
                    }
                }
            </td>
        </tr>
                    }
</table>

<hr />
<p>
    <textarea placeholder="输入内容..." class="form-control" id="post_edit"></textarea>
    <input type="button" value="我要跟帖" class="btn btn-warning" onclick="FllowPost(@Model.Id)" />
    <input type="button" value="返回主页" class="btn" onclick="Redirect('/Forum/Index')" />
</p>

<script>
    function Redirect(url) {
        window.location.href = url;
    }

    function FllowPost(id) {
        var content = document.getElementById("post_edit").value;
        if (content.length <= 0) {
            alert("内容不能为空!")
            return
        }

        var params = {
            postId: id,
            content: content,
        }

        $.ajax({
            url: "/Forum/AddResponseToPost",
            type: "post",
            dataType: "json",
            data: params,
        }).done(function (json) {
            alert(json.Message);
            if (json.Status == 0) {
                location.reload();
            } else if (json.Status == 1) {
                window.location.href = "/Account/Login"
            }
        })
    }

    function ResponseReply(id) {

    }

    function RemoveResponseReply(id) {
        var params = {
            id: id,
        }

        $.ajax({
            url: "/Forum/RemoveResponseReply",
            type: "post",
            dataType: "json",
            data: params,
        }).done(function (json) {
            alert(json.Message);
            if (json.Status == 0) {
                location.reload();
            } 
        })
    }
</script>
